site_name: Python Bad-Assery

nav:
  - home: index.md
  - 'Values and Types': 'values-and-types/README.md'
  - 'Conditionals': 'conditionals/README.md'
  - 'Iteration':
    - 'For Loops': 'for-loops/README.md'
    - 'While Loops': 'while-loops/README.md'
    - 'Recursion': 'recursion/README.md'
  - 'Functions': 'functions/README.md'

markdown_extensions:
  - codehilite

plugins:
  - search
  - macros

theme: 
  name: material
  logo: 'images/logo.svg'
  palette:
    primary: 'indigo'
    accent: 'indigo'


module_name: main

extra:
    price: 12.50
    company:
        name: Acme
        website: www.acme.com


extra_css:
    - css/extra.css

